body{
    background-image: url("https://imgs.search.brave.com/HK2XUG1ouiIqraFXYj6MH4NS-9WH1oxYyEs8XG5pCik/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y2FmZS1jdWFkZXJu/by1tZXNhXzIzLTIx/NDc3NzIzOTMuanBn");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: darkgrey;
}